.container {
    width: 50%;
    height: 200px;
}
.aaa{
    background: -webkit-linear-gradient(#3f90d3, #d43f8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font{
    font-family: Prompt,Poppins-Regular;

}
.bbb{
    --background-color: hue($color: #228fb9);
}
