<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>แก้ไขสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <ion-card>
    <ion-card-content>      
      <form [formGroup]="dataUser" (ngSubmit)="log()">
        <ion-item [class.invalid]="submit && f.idadmin.errors">
          <ion-label><b>รหัสผู้ใช้</b></ion-label>
          <ion-input placeholder="รหัสผู้ใช้" formControlName="idAdmin" readonly>
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.nameadmin.errors">
          <ion-label><b>ชื่อผู้ใช้</b></ion-label>
          <ion-input placeholder="ชื่อผู้ใช้" formControlName="nameAdmin">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.usernameadmin.errors">
          <ion-label><b>Username</b></ion-label>
          <ion-input placeholder="Username" formControlName="usernameAdmin">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.password.errors">
          <ion-label><b>Password</b></ion-label>
          <ion-input placeholder="Password" formControlName="passwordAdmin">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.teladmin.errors">
          <ion-label><b>เบอร์โทร</b></ion-label>
          <ion-input placeholder="เบอร์โทร" formControlName="telAdmin">
          </ion-input>
        </ion-item>
        <ion-item [class.invalid]="submit && f.leveladmin.errors">
          <ion-label><b>ระดับ</b></ion-label>          
            <ion-select formControlName="levelAdmin"  placeholder="- เลือกระดับ -">
                <ion-select-option value="ระดับที่ 1">ระดับที่ 1</ion-select-option>
                <ion-select-option value="ระดับที่ 2">ระดับที่ 2</ion-select-option>
                <ion-select-option value="ระดับที่ 3">ระดับที่ 3</ion-select-option>
                <ion-select-option value="ระดับที่ 4">ระดับที่ 4</ion-select-option>
                <ion-select-option value="ระดับที่ 5">ระดับที่ 5</ion-select-option>
                <ion-select-option value="ระดับที่ 6">ระดับที่ 6</ion-select-option>
              </ion-select>  
        </ion-item>
        <ion-item [class.invalid]="submit && f.addressadmin.errors">
          <ion-label><b>ที่อยู่</b></ion-label>
          <ion-input placeholder="ที่อยู่" formControlName="addressAdmin">
          </ion-input>
        </ion-item>
        <ion-button expand="full" color="dark" type="submit">แก้ไขข้อมูล</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>