<script src="https://kit.fontawesome.com/351e9b90a1.js" crossorigin="anonymous"></script>
<ion-app>
  <ion-split-pane>
    <ion-menu color="dark" type="overlay">
      <ion-header>
        <ion-toolbar color="dark" text-center>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <ion-title (click)="openEnd()">LOGO</ion-title>
            </ion-col>
            <ion-col>              
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <br>
        <ion-row >
          <ion-col size="5" style="border-right: groove;">
            <ion-icon *ngIf="userApi.imageAdmin == null" class="avatar" class="iconAvatar" name="contact"></ion-icon>
            <ion-avatar *ngIf="userApi.imageAdmin != null">
              <img class="avatar" src="{{userApi.imageAdmin}}">
            </ion-avatar>     
          </ion-col>
          <ion-col color="light">            
            <ion-label><h5>สวัสดี : {{userApi.nameAdmin}}</h5></ion-label>
            <ion-label><h5>สถานะ : {{userApi.statusAdmin}}</h5></ion-label>
            <ion-label><h5><u>แก้ไขข้อมูลส่วนตัว</u></h5></ion-label>
          </ion-col>          
        </ion-row>
        <br>
        <!-- <br>
        <ion-row style="border-bottom: groove;"></ion-row>         -->
        <ion-list class="color">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar color="dark">          
          
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <!-- <ion-icon *ngIf="isShowMenu == true" ios="ios-menu" md="md-menu"></ion-icon> -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>