
.color {
    background-color: #f4f5f8!important;
}
.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 100px;
    max-width: 15%;      
}
.tabColor {
    --background-color: green($color: #000000);
}
.avatar {
    margin-left: 20px;
}
.iconAvatar {
    width: 65px;
    height: 65px;
    margin-left: 20px;
}
