<ion-app>

  <ion-menu type="overlay">
    <ion-header>
      <ion-toolbar color="dark" text-center>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-row text-center>
        <ion-col>
          <ion-label>
            <b>Hello : </b>{{userApi.nameUser}} <b>Status : </b>{{userApi.statusUser}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-toolbar>
        <ion-button color="dark" expand="block">Logout</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

</ion-app>