<ion-header>

</ion-header>

<ion-content>
  
  
  <form [formGroup]="user" (ngSubmit)="gotoList()">
  <ion-grid class="blank">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username" formControlName="user"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
        </div>
     
        <ion-button expand="full" type="submit" color="dark">เข้าสู่ระบบ</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>