<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>แก้ไขการล้างสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>รหัสสินค้า</ion-label>
        <ion-input placeholder="รหัสสินค้า" readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>ชื่อสินค้า</ion-label>
        <ion-input placeholder="ชื่อสินค้า">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>จำนวนนำเข้า</ion-label>
        <ion-input placeholder="จำนวนนำเข้า">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>จำนวนขาย</ion-label>
        <ion-input placeholder="จำนวนขาย" readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>คงเหลือ</ion-label>
        <ion-input placeholder="คงเหลือ" readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>สถานะ</ion-label>
        <ion-input placeholder="สถานะ" readonly>
        </ion-input>
      </ion-item>

      <ion-button expand="full" color="dark" type="submit">แก้ไขสินค้า</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content><br>