<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>รายการสั่งซื้อ</ion-title>
        <ion-button style="padding-right: 15px" slot='end' [routerLink]="['/order']" color="light">สั่งซื้อ</ion-button>
  </ion-toolbar>
</ion-header><br>

<ion-content class="content" text-center>
<br>
  <ion-card >
  <ion-item>
    <ion-label>รายการ</ion-label>
    <ion-select placeholder="เลือกรายการที่ต้องการ" (ionChange)="onChange(data)" [(ngModel)]="data">
      <ion-select-option >ทั้งหมด</ion-select-option>
      <ion-select-option value ="สั่งซื้อ">สั่งซื้อ</ion-select-option>
      <ion-select-option value ="รับสั่งซื้อ">รับ Order แล้ว</ion-select-option>
      <ion-select-option value ="ส่งสินค้า">ส่งสินค้าแล้ว</ion-select-option>
      <ion-select-option value ="ยกเลิก">ยกเลิก</ion-select-option>
      <ion-select-option value ="ได้รับแล้ว">ได้รับสินค้าแล้ว</ion-select-option>
     
    </ion-select>
  </ion-item>
</ion-card>
<br>

  <ion-card>
    <ion-card-content>
  <ion-row text-center style="border-bottom:groove;" >
    <ion-col>
      <ion-label><b>รหัสออเดอร์</b></ion-label>
    </ion-col>

    

    <ion-col>
      <ion-label><b>วันที่</b></ion-label>
    </ion-col>

    <ion-col>
      <ion-label><b>หลักฐานการโอนเงิน</b></ion-label>
    </ion-col>

    <ion-col>
      <ion-label><b>สถานะ</b></ion-label>
    </ion-col>

   

   

    <ion-col span="3">
      <ion-label></ion-label>
    </ion-col>
  </ion-row>
  <div *ngIf="isShowText == true" text-center>
    <br>
    <ion-label>
      <h1><b>ไม่มีรายการสินค้า</b></h1>
    </ion-label>
  </div>
  <ion-row  *ngFor="let a of DataReceipt | paginate: { itemsPerPage: 8, currentPage: p }" text-center style="border-bottom: groove">
    <ion-col  class="co">
      <ion-label>{{a.idReceipt}}</ion-label>
    </ion-col >   
    <ion-col class="co">
      <ion-label>{{a.date}}</ion-label>
    </ion-col>
    <ion-col class="co">
      <ion-label>{{a.statusFile}} </ion-label>
    </ion-col>    
    <ion-col class="co">
      <ion-label>{{a.status}} </ion-label>
    </ion-col>


    


  
    
    <ion-col class="co" >
      
<ion-button (click)="openModal(a.idReceipt)">รายละเอียดสินค้า</ion-button>
        <ion-button  color="secondary" (click)="okorder(a.idReceipt)" *ngIf="a.status == 'สั่งซื้อ'" class="a">รับคำสั่งซื้อ</ion-button>
        <ion-button  color="success" disabled *ngIf="a.status == 'รับสั่งซื้อ' && a.statusFile == 'ไม่พบไฟล์'" class="a">รับสั่งซื้อ</ion-button>     
        <ion-button  color="success" (click)="sendorder(a.idReceipt)" *ngIf="a.status == 'รับสั่งซื้อ' && a.statusFile != 'ไม่พบไฟล์'" class="a">รับสั่งซื้อ</ion-button>  
        <ion-button  color="danger" (click)="cancel(a.idReceipt)" *ngIf="a.status == 'ยกเลิก'" class="a">ยกเลิก</ion-button>     
        <ion-button  color="warning"  disabled (click)="sendorder(a.idReceipt)" *ngIf="a.status == 'ส่งสินค้า'" class="a">ส่งสินค้า</ion-button> 
        <ion-button  color="dark" disabled (click)="sendorder(a.idReceipt)" *ngIf="a.status == 'ได้รับแล้ว'" class="a">ได้รับแล้ว</ion-button> 
    </ion-col>
 
  </ion-row>
 
    
 
    <p *ngIf="dataReturned">{{dataReturned}}</p>
  </ion-card-content>
</ion-card><br>
<div class="page">
<ion-row>
<ion-col text-left>
<br>
<ion-label>จำนวนรายการสั่งซื้อ <b>{{countdata}}</b> รายการ.</ion-label>
</ion-col>
<ion-col text-right>
<pagination-controls (pageChange)="p = $event"   
  previousLabel="ย้อนกลับ"
  maxSize="5"
  nextLabel="ถัดไป"

  class="my-pagination"
  ></pagination-controls>
  </ion-col>
  </ion-row>
  </div>
</ion-content>