<ion-header>
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>รายการสั่งซื้อ</h4>
  <ion-item>
    <ion-label>รายการ</ion-label>
    <ion-select placeholder="เลือกรายการที่ต้องการ">
      <ion-select-option>สั่งซื้อ</ion-select-option>
      <ion-select-option>รับOrder</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="primary">
    <ion-icon name="add-circle"></ion-icon>
    สั่งซื้อ
  </ion-button>

  <ion-item text-center>

    <ion-col>
      <ion-label>รหัสสั่งซื้อ</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>รหัสสินค้า</ion-label>
    </ion-col>

    <ion-col>
        <ion-label>ชื่อสินค้า</ion-label>
      </ion-col>

    <ion-col>
      <ion-label>จำนวนสินค้า</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>ราคาสินค้า</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>ชื่อลูกค้า</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>เบอร์โทร</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>ที่อยู่</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>วันที่สั่งซื้อ</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>วันที่สั่งซื้อ</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>วันที่ส่ง</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>สถานะ</ion-label>
    </ion-col>
  </ion-item>


  <ion-item text-center *ngFor="let a of dataProduct">
    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{a.idProduct}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{a.nameProduct}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{a.nameUser}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{a.telUser}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{a.addressUser}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-label></ion-label>
    </ion-col>

    <ion-col>
      <ion-button color="danger">สถานะ</ion-button>
    </ion-col>

  </ion-item>

</ion-content>