.container {
    width: 70%;
    margin: auto;
}
.text{
    padding-left: 10px;
}
.deProduct{
    width: 20%;
    border-radius: 0px 0px 35px 0px;
    --ion-background-color:rgb(144, 12, 63);
    color: white;
    box-shadow: 1px 1px 3px black;
}
.deUser{
    width: 20%;
    border-radius: 0px 0px 35px 0px;
    --ion-background-color:rgb(26, 82, 118);
    color: white;
    box-shadow: 1px 1px 3px black;
}
.deLogis{
    width: 20%;
    border-radius: 0px 0px 35px 0px;
    --ion-background-color:rgb(14, 102, 85);
    color: white;
    box-shadow: 1px 1px 3px black;
}
.itemDetail{
    width: 80%;
    text-align: center;    
}
.btn-back {
    width: 150px;
    height: 60px;
}