ion-card{
    width: 90%;
    margin: auto;
}
.a{
    width: 100%;
}
.aa{
    padding-top: 15px;
}
.header-title {
    padding-top: 10px;
}
.btn-addProduct {
    width: 150px;
    height: 60px;
}
.menu {
    width: 95%;    
}
.select {
    width: 200px;
    margin: 0;
    padding: 0;
}
.btn-select {
    width: 220px;
    height: 60px;    
}


