.bg-item {
    background-color: #f4f5f8;
}
.text {
    padding-top: 4px;
    font-family: Prompt,Poppins-Regular;

}
.icon {
    padding-top: 3px;
}
.aaa{
    background: -webkit-linear-gradient(#3f90d3, #d43f8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font{
    font-family: Prompt,Poppins-Regular;

}
.bbb{
    --background-color: hue($color: #228fb9);
}
.abc{
    font-family: Prompt,Poppins-Regular;

}
// .actionSheet{
//     font-size: 50;
//     background: blue;
// }