<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start" (click)="gotolist()">
      <ion-icon name="arrow-back" class="icon"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <h4 text-center>ข้อมูลบัญชีผู้ใช้</h4>
  <div>
    <ion-card *ngIf="datauser != null">
      <ion-item>
        ชื่อผู้ใช้งาน : {{datauser.nameUser}}
      </ion-item>
      <ion-item>
        เบอร์โทร : {{datauser.telUser}}
      </ion-item>
      <ion-item>
        ที่อยู่ : {{datauser.addressUser}}
      </ion-item>
      <ion-item *ngIf="datauser.statusUser == 'ไม่พร้อมใช้งาน'" >
        สถานะการใช้งาน :&nbsp;<label class="no"> {{datauser.statusUser}}</label>
      </ion-item>
      <ion-item *ngIf="datauser.statusUser == 'พร้อมใช้งาน'">
        สถานะการใช้งาน :&nbsp;<label class="ready"> {{  datauser.statusUser}}</label>
      </ion-item>
    </ion-card>
  </div>





</ion-content>