<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>รายละเอียดสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label><b>รหัสสินค้า : </b>{{idProduct}}</ion-label>      
    </ion-item>
    <ion-item>
      <ion-label><b>ชื่อสินค้า : </b>{{nameProduct}}</ion-label>         
    </ion-item>
    <ion-item>
      <ion-label><b>จำนวนสินค้า : </b>{{amountProduct}}</ion-label>      
    </ion-item>
    <ion-item>
      <ion-label><b>ราคาสินค้า : </b>{{priceOrder}}</ion-label>        
    </ion-item>    
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button color="dark" expand="block">ย้อนกลับ</ion-button>
</ion-footer>