.aaa{
    background: -webkit-linear-gradient(#3f90d3, #d43f8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font{
    font-family: Prompt,Poppins-Regular;

}
.bbb{
    --background-color: hue($color: #228fb9);
}
.abc{
    font-family: Prompt,Poppins-Regular;

}
ion-footer{
    //padding-bottom: 2px;
    margin-bottom:5px;
}
ion-button{
    border-radius: 30px;
}