<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>แก้ไขสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="dataStore" (ngSubmit)="log()">
        <ion-item [class.invalid]="submit && f.idStore.errors">
          <ion-label>แก้ไขสินค้า</ion-label>
          <ion-input placeholder="รหัสสินค้า" formControlName="idStore">
          </ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">แก้ไข</ion-button>
      </form> -->

  <div *ngIf="dataStore != null" text-center>    
    <br>
    <ion-card>
      <ion-card-content>     
        <form [formGroup]="dataStore" (ngSubmit)="editlog()">
        
        <ion-item >
          <ion-label>ชื่อสินค้า : </ion-label>
          <ion-input disabled readonly placeholder="{{ aa }}" formControlName="nameProduct"  [(ngModel)]="dataIdProduct">            
          </ion-input>
        </ion-item>
        
        <ion-item *ngIf="dataIdProduct != null">
          <ion-label>รหัสสินค้า :</ion-label>
          <ion-input disabled readonly placeholder="{{ a }}"></ion-input>
          
        </ion-item>
        <ion-item *ngIf="dataIdProduct == null">
          <ion-label>รหัสสินค้า :</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>จำนวน</ion-label>
          <ion-input placeholder="จำนวนสินค้า" formControlName="unitTotal">
          </ion-input>
        </ion-item>
        <ion-button expand="full" color="dark" type="submit">แก้ไข</ion-button>
      </form>   
    </ion-card-content>
    </ion-card>

  </div>

</ion-content>