.img {
    width: 220px;
    height: 300px;    
}
.bg-item {
    background-color: #f4f5f8;
}
.icon {
    padding-top: 5px;
}
*{
    font-family: Prompt,Poppins-Regular;
    
  }

  ion-label{
    font-family: Prompt,Poppins-Regular;

  }
  ion-item{
    font-family: Prompt,Poppins-Regular;
  }
  .text{
    font-family: Prompt,Poppins-Regular;

  }