<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-row>
      <ion-col>
        <ion-button color="dark" class="btnTab" (click)="closeTab()" *ngIf="isShowCloseTab == true">
          <ion-icon size="large" name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="dark" class="btnTab" (click)="openTab()" *ngIf="isShowOpenTab == false">
          <ion-icon size="large" name="menu"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-title>แผงควบคุม</ion-title>
      </ion-col>
      <ion-col>
        <ion-button color="dark" class="btnTabExit" (click)="ConfirmLogout()">
          <ion-icon size="large" name="exit"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="dataProduct" (ngSubmit)="check()">
        <ion-item [class.invalid]="submit && f.idProduct.errors">
          <ion-label>รหัสสินค้า</ion-label>
          <ion-input placeholder="รหัสสินค้า" formControlName="idProduct">
          </ion-input>
        </ion-item>
        <div *ngIf="isShowValidateId == true">
          <ion-label color="danger">* กรุณากรอกรหัสสินค้า !!</ion-label>
        </div>
        <ion-item [class.invalid]="submit && f.nameProduct.errors">
          <ion-label>ชื่อสินค้า</ion-label>
          <ion-input placeholder="ชื่อสินค้า" formControlName="nameProduct">
          </ion-input>
        </ion-item>
        <div *ngIf="isShowValidateName == true">
          <ion-label color="danger">* กรุณากรอกชื่อสินค้า !!</ion-label>
        </div>
        <ion-item [class.invalid]="submit && f.typeProduct.errors">
          <ion-label>ชนิดสินค้า</ion-label>
          <ion-input placeholder="ชนิดสินค้า" formControlName="typeProduct">
          </ion-input>
        </ion-item>
        <div *ngIf="isShowValidateType == true">
          <ion-label color="danger">* กรุณากรอกชนิดสินค้า !!</ion-label>
        </div>
        <ion-item [class.invalid]="submit && f.priceProduct.errors">
          <ion-label>ราคาสินค้า</ion-label>
          <ion-input placeholder="ราคาสินค้า" formControlName="priceProduct">
          </ion-input>
        </ion-item>
        <div *ngIf="isShowValidatePrice == true">
          <ion-label color="danger">* กรุณากรอกราคาสินค้า !!</ion-label>
        </div>
        <div *ngFor="let error of errorMessages.priceProduct">
          <div *ngIf="priceProduct.hasError(error.type) && (priceProduct.dirty || priceProduct.touched)">
            <ion-label color="danger">* {{error.message}}</ion-label>
          </div>
        </div>
        <ion-item [class.invalid]="submit && f.totalProduct.errors">
          <ion-label>ราคาต้นทุน</ion-label>
          <ion-input placeholder="ราคาต้นทุน" formControlName="costProduct">
          </ion-input>
        </ion-item>
        <div *ngIf="isShowValidateCost == true">
          <ion-label color="danger">* กรุณากรอกราคาต้นทุน !!</ion-label>
        </div>
        <div *ngFor="let error of errorMessages.costProduct">
          <div *ngIf="costProduct.hasError(error.type) && (costProduct.dirty || costProduct.touched)">
            <ion-label color="danger">* {{error.message}}</ion-label>
          </div>
        </div>        
        <br>
        <ion-button expand="full" color="dark" type="submit">เพิ่มข้อมูลสินค้า</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>