.btnTab {
    float: left;     
}
ion-title {
    padding-top: 10px;
}
.btnTabExit {
    float: right;     
}
ion-content {
    --background: rgb(249, 250, 251);
  }
  ion-header{
      border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
      --background: rgb(249, 250, 251);
  }
  
  ion-header.header-md:after {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
    --background: rgb(249, 250, 251);
  }
  
  .cardborder {
    
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, 0.0625) !important;
      --background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 3px 1px -2px, rgba(0, 0, 0, 0) 0px 2px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 5px 0px;
    }