.textAlign {
  text-align: left;
}
.page {
  text-align: center;
}
.my-pagination {
  color: rgba(0, 0, 163, 0.658);

  margin: auto;
}
.inputsearch {
  background-color: rgb(226, 226, 226);

  border-radius: 15px;
  border-color: black;

  margin: auto;
  padding-bottom: 5px;
}
.row {
  margin: auto;
}
.button {
  margin: auto;
  padding-right: 5px;
}
.Headrow {
  color: blanchedalmond;
}
.btn {
  float: right;
  width: 100px;
  height: 50px;
}
.item-native{
  padding: 0px 0px 0px 1px;
}
ion-grid {
  --ion-grid-padding: 0px;

  --ion-grid-padding-xs: 0px;
  --ion-grid-padding-sm: 0px;
  --ion-grid-padding-md: 0px;
  --ion-grid-padding-lg: 0px;
  --ion-grid-padding-xl: 0px;
  // --ion-grid-width-xs: 100%;
  // --ion-grid-width-sm: 540px;
  // --ion-grid-width-md: 720px;
  // --ion-grid-width-lg: 960px;
  // --ion-grid-width-xl: 1140px;
  
   --ion-grid-column-padding: 5px;
   margin-left: 0px;
   margin-right: 0px;
   margin: auto;
  

  // --ion-grid-column-padding-xs: 5px;
  // --ion-grid-column-padding-sm: 5px;
  // --ion-grid-column-padding-md: 5px;
  // --ion-grid-column-padding-lg: 5px;
  // --ion-grid-column-padding-xl: 5px;
 
}
.row1{
  //background-color: red;
  font-size: large;
}
// ion-col{
//   font-size:12px;
  
// }
.aaa{
    background: -webkit-linear-gradient(#3f90d3, #d43f8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //font-size: 15px;
}

.font{
    font-family: Prompt,Poppins-Regular;

}
.bbb{
    --background-color: hue($color: #228fb9);
}

@media (max-width: 1024px) {
  .aaa{
    // background:black;
    font-size: 15px;
  }
  ion-col{
    font-size:13px;
   
  }
 
}


@media (max-width: 768px) {
  .aaa{
    // background:blue;
    font-size: 13px;
  }
  ion-col{
    font-size:11px;

    
   
  }
  
 
}

@media (max-width: 576px) {
  .aaa{
    // background:red;
        font-size: 7px;
  }
  ion-col{
    font-size:5px;
   
  }
}

@media (max-width: 414px) {
  .aaa{
    // background:red;
        font-size: 6px;
  }
   ion-col{
   font-size:4px;
  
 }

}
@media (max-width: 375px) {
  .aaa{
    // background:red;
        font-size: 5px;
  }
   ion-col{
   font-size:3px;
  
 }

 

}

ion-card{
padding: 0px 0px 0px -10px;
   margin: auto;
   margin-left: -10px;
   margin-right: -10px;
  
  }



  ion-col{
    padding: 0 0 0 0;
  }
  // ion-item-option{
  //   --background: black;
    
  // }
  // ion-item.shadow{
    
  //   --box-shadow	:black;
  // }
  // ion-item  {
  //   --border-color		:red;
  //   --border-radius: 30px;
    
    
  // }
  // ion-item:hover{
  //   --highlight-color-focused:red;

  // }
  // ion-item-sliding:focus{
  //   --box-shadow: black;
  //   --border-color		:red;

  // }