.textAlign{
    text-align: left;
}
.page{
    text-align: center;
    
}
.my-pagination {
    color:rgba(0, 0, 163, 0.658);
    
    margin:auto;
}
.inputsearch{
    background-color:rgb(226, 226, 226) ;
    
    border-radius: 15px;
    border-color: black;;
  
    margin: auto;
    padding-bottom: 5px;
}
.row{
    margin: auto;
}
.button{
    margin: auto;
    padding-right: 5px;
}
.Headrow{
  
    color: blanchedalmond;
}
.btn {
    float: right;
    width: 100px;
    height: 50px;
}