.pad{
    padding-top: 15px;
}
ion-card , .page{
    width: 90%;
    margin: auto;
}
.header-title {
    padding-top: 10px;
}
.btn-addproduct {
    width: 150px;
    height: 60px;
}
.menu {
    width: 95%;
}
.btnTab {
    float: left;     
}
ion-title {
    padding-top: 10px;
}
.btnTabExit {
    float: right;     
}
.header {
    background-color: #900C3F;
    padding: 0;
    color: white;
}
.content {
    background-color: rgba(144, 12, 63, 0.045); 
}