.pad{
    padding-top: 15px;
}
ion-card , .page{
    width: 90%;
    margin: auto;
}
.header-title {
    padding-top: 10px;
}
.btn-addproduct {
    width: 150px;
    height: 60px;
}
.menu {
    width: 95%;
}