<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-title class="header-title">สินค้า</ion-title>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <div class="menu">
    <ion-row text-right>
      <ion-col>
        <ion-button class="btn-addproduct" [routerLink]="['/add-product']">
          <ion-label>
            <h2><b>เพิ่มสินค้า</b></h2>
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <ion-card>
    <ion-card-content>
      <ion-row text-center style="border-bottom: groove">
        <ion-col>
          <ion-label>
            <b>รหัสสินค้า</b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <b>ชื่อสินค้า</b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <b>ประเภทสินค้า</b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <b>ราคาสินค้า</b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <b>ราคาต้นทุน</b>
          </ion-label>
        </ion-col>
        <ion-col span="2">
          <ion-label>
            <b>จัดการ</b>
          </ion-label>
        </ion-col>


      </ion-row>
      <ion-row  *ngFor="let p of datafilter | paginate: { itemsPerPage: 10, currentPage: PageNumber }" text-center style="border-bottom: groove">

        <ion-col class="pad">
          <ion-label>
            {{p.idProduct}}
          </ion-label>
        </ion-col>

        <ion-col class="pad">
          <ion-label>
            {{p.nameProduct}}
          </ion-label>
        </ion-col>

        <ion-col class="pad">
          <ion-label>
            {{p.typeProduct}}
          </ion-label>
        </ion-col>


        <ion-col class="pad">
          <ion-label>
            {{p.priceProduct}}
          </ion-label>
        </ion-col>

        <ion-col class="pad">
          <ion-label>
            {{p.costProduct}}
          </ion-label>
        </ion-col>




        <ion-col>
          <ion-button color="warning" (click)="EditDataProduct(p.idProduct)">แก้ไข</ion-button>

          <ion-button color="danger" (click)="ConfirmDelete(p.idProduct)">ลบ</ion-button>
        </ion-col>


      </ion-row>
    </ion-card-content>
  </ion-card>
  <div class="page">
    <ion-row>
      <ion-col text-left>
        <br>
        <ion-label>Product list <b>{{sumProductNumber}}</b> items.</ion-label>
      </ion-col>
      <ion-col text-right>
        <pagination-controls (pageChange)="PageNumber = $event"></pagination-controls>
      </ion-col>
    </ion-row>
  </div>

</ion-content>