<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>เคลียร์สินค้า</ion-title>
    <ion-button expand="block" type="submit" style="padding-right: 15px" slot="end" [routerLink]="['/edit-clear']">
      ล้างสินค้า</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
  
  <ion-select placeholder="- กรุณาเลือกสถานะ -" (ionChange)="onChange1(data)" [(ngModel)]="data">
    <ion-select-option value="ทั้งหมด">ทั้งหมด</ion-select-option>
    <ion-select-option value="แขน">แขนน</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-button (click)="addasd()"></ion-button>

</ion-content>