<script src="https://kit.fontawesome.com/a4859189e7.js" crossorigin="anonymous"></script>
<ion-content color="medium" text-center  [fullscreen]="true">
  <br>
  <div class="blank"></div>
  <ion-card>
    <ion-card-header color="dark">
      <ion-row>
        <ion-col>
          <ion-label>
            <h2><b>เข้าสู่ระบบ</b></h2>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="color-content">
      <br>
      <form [formGroup]="datauser" (ngSubmit)="login()">
        <ion-item color="light">
          <ion-icon name="contact"></ion-icon>
          <ion-input placeholder="ชื่อผู้ใช้" formControlName="user"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-icon name="lock"></ion-icon>
          <ion-input type="password" placeholder="รหัสผ่าน" formControlName="pass"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col text-left>
            <ion-label *ngIf="isShowValidate == true"><br><b class="text">ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง !!</b></ion-label>
            <ion-label *ngIf="isShowValidateNull == true"><br><b class="text">กรุณากรอกชื่อผู้ใช้และรหัสผ่าน !!</b></ion-label>
          </ion-col>
        </ion-row>
        <br>
        <ion-button color="dark" expand="block" type="submit" >เข้าสู่ระบบ</ion-button>
      </form>
    </ion-card-content>
    <ion-button color="dark" expand="block"  href="/dashbroad">เข้าสู่ระบบ</ion-button>

  </ion-card>
</ion-content>