$height100: 50%;
ion-card {
    width: 30%;
    margin: auto;    
    box-shadow: 3px 3px 3px black;
}
.blank{
    padding-top: 10%;
}
.color-content{
    background-color: #f4f5f8;
}
ion-icon{
    padding-right: 20px;
}
.text {
    color: red;
}