.ResultProductGet {
  padding: 0;
  --color: #3880ff;
}

.ResultProductSell {
  padding: 0;
  --color: #0cd1e8;
}
.ResultProductTotal {
  padding: 0;
  --color: #7044ff;
}
.Total {
  padding: 0;
  --color: #10dc60;
}
.Sell {
  padding: 0;
  --color: #f04141;
}
.Result {
  padding: 0;
}
.color {
  color: #f04141;
}
.color1 {
  color: #10dc60;
}
.color2 {
  color: #0cd1e8;
}
.color3 {
  color: red;
}

.btnTab {
  float: left;
}
ion-title {
  padding-top: 10px;
}
// .btnTabExit {
//     float: right;
// }

ion-content {
  --background: rgb(249, 250, 251);
  // --padding: 85px 20px 20px;
}

.lh-1 {
  line-height: 1 !important;
}

.cardborder {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
  --background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 1px -2px, rgba(0, 0, 0, 0) 0px 2px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 5px 0px;
}

ion-header.header-md:after{
  
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
    --background: rgb(249, 250, 251);


}
ion-header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
    --background: rgb(249, 250, 251);
}

ion-toolbar{
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 1px -2px, rgba(0, 0, 0, 0) 0px 2px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 5px 0px;
}


.test{
  border-radius: 0px;
background: #55b9f3;
box-shadow: inset 5px 5px 10px #489dcf, 
            inset -5px -5px 10px #62d5ff;
}
ion-select{
  
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #fbfbfb;
  width: 100%;
  height: 34%;
visibility: hidden;   
padding: 0 0 0 0;
}


select{
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #fbfbfb;
  width: 100%;
  height: 40%;
  padding: 0 0 0 0;

}


// .custom-loading{
//   --background-size: 100px 100px; /* to change dimension of background */
//   --padding-top: 36px; /* padding top of white square */
//  --padding-bottom: 36px; /* padding bottom of white square */
//   --border-radius: 0.8rem; /* border-radius white square */



#loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  display: default;
}

#loader.fadeOut {
  opacity: 0;
  display: none;
}

.aaa{
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
}


// .spinner {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   top: calc(50% - 20px);
//   left: calc(50% - 20px);
//   background-color: #333;
//   border-radius: 100%;
//   -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
//   animation: sk-scaleout 1.0s infinite ease-in-out;
// }

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
// }



.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}