.ResultProductGet {
    background-color: #212F3C;
    padding: 0;
    color: white;
}
.ResultProductSell {
    background-color: #0E6655;
    padding: 0;
    color: white;
}
.ResultProductTotal {
    background-color: #900C3F;
    padding: 0;
    color: white;
}
.Total {
    background-color: #1A5276 ;
    padding: 0;
    color: white;
}
.Sell {
    background-color: #5B2C6F ;
    padding: 0;
    color: white;
}
.Result {
    background-color: #873600 ;
    padding: 0;
    color: white;
}