
.upload{
    font-weight:bold;
    color:#28a745;    
    line-height: 36px;
}
.imgSelect {
    width: 100px;
    height: 100px;
}
ion-row {
    // width: 100%;
}
.left {   
    padding-top: 5px;
    padding-right: 200px;
}
// .right {
//     padding-top: 10px;

//     padding-bottom: 10px;
//     padding-right: 150px;
// }
.select {
    background-color: green($color: #000000);
}
.container {
    width: 150%;
}
ion-button {
    margin-left: 0px;
}


@media (max-width: 1024px) {
    .right {
        padding-top: 10px;
    
        padding-bottom: 10px;
        padding-right: 150px;
    }
    
  }
  
  
  @media (max-width: 768px) {
    .right {
        padding-top: 10px;
    
        padding-bottom: 10px;
        padding-right: 150px;
    }
    
   
  }
  
  @media (max-width: 576px) {
    .right {
        padding-top: 10px;
    
        padding-bottom: 10px;
        padding-right: 350px;
    }
    
  }
  
  @media (max-width: 414px) {
    .right {
        padding-top: 10px;
    
        padding-bottom: 10px;
        padding-right: 260px;
    }
  
  }
  @media (max-width: 375px) {
    .right {
        padding-top: 10px;
    
        padding-bottom: 10px;
        padding-right: 170px;
    }
  }