// .a{
//     padding-top: 15px;
// }
// .left{
//     text-align: left;
// }
.checkbox{
  margin: 0;
  padding: 0 0 0 0;
 
}

// .header-title {
//   padding-top: 10px;
// }
// .btn-editclear {
//   width: 150px;
//   height: 60px;
// }
// .menu{
//   width: 95%;
// }
// ion-card ,.page{
//   width: 90%;
//   margin: auto;
// }
// .title{
//   --ion-background-color:rgb(144, 12, 63);
//   color: white;
// }
// ion-card-content{
//   background-color: rgba(144, 12, 63, 0.045);
// }
// ion-checkbox{
//   --ion-background-color:rgba(144, 12, 63, 0.045);
// }
// .title-content {
//   --ion-background-color:rgb(26, 82,118);
//   background-color: rgb(26, 82,118);
//   color: white;
// }
// .body-content {
//   background-color: rgba(26, 83, 118, 0.045);
// }
// .data {
//   background-color: rgba(26, 83, 118, 0.123);
// }
// .status1 {
//   padding-left: 20px;
//   --ion-background-color:rgba(144, 12, 63, 0.001);
// }
// .textstock {
//   padding-top: 15px;
// }
// .btnTab {
//   float: left;
// }
// ion-title {
//   padding-top: 10px;
// }
// .btnTabExit {
//   float: right;
// }

ion-content {
  --background: rgb(249, 250, 251);
}
ion-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
  --background: rgb(249, 250, 251);
}

ion-header.header-md:after {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
  --background: rgb(249, 250, 251);
}

.cardborder {
  padding: 5px 5px 5px 5px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
  --background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 1px -2px, rgba(0, 0, 0, 0) 0px 2px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 5px 0px;
}

table,
td,
th,
tr {
  text-align: center;

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
}
thead {
}

th {
  height: 45px;
  // color: rgb(255, 255, 255);
  border-bottom: groove;

  //   background-color: rgba(120, 144, 156, 0.603);
}
td {
  height: 40px;
}
.fixed_header th,
.fixed_header td {
  //padding: 5px;
  text-align: center;
  width: 600px;
  overflow: auto;
}
.colorA {
  color: #1985a1;
}
.colorB {
  color: #6f8ea5;
}

ion-select {
  // border: 1px solid #ededed;
  // border-radius: 5px;
  // background: #fbfbfb;
  // width: 100%;
  // height: 34%;

  // padding: 0 0 0 0; 
  //visibility: hidden;
}

select {
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #fbfbfb;
  width: 100%;
  height: 40%;
  padding: 0 0 0 0;
}
