.a{
    padding-top: 15px;
}
.left{
    text-align: left;   
}
.checkbox{
  margin: 0;   
  --ion-background-color:rgba(144, 12, 63, 0.001);   
}
.header-title {
  padding-top: 10px;
}
.btn-editclear {
  width: 150px;
  height: 60px;
}
.menu{
  width: 95%;
}
ion-card ,.page{
  width: 90%;
  margin: auto;
}
.title{
  --ion-background-color:rgb(144, 12, 63);
  color: white;
}
ion-card-content{
  background-color: rgba(144, 12, 63, 0.045);  
}
ion-checkbox{
  --ion-background-color:rgba(144, 12, 63, 0.045);
}
.title-content {
  --ion-background-color:rgb(26, 82,118);    
  background-color: rgb(26, 82,118);
  color: white;
}
.body-content {
  background-color: rgba(26, 83, 118, 0.045);    
}
.data {
  background-color: rgba(26, 83, 118, 0.123);    
}
.status1 {
  padding-left: 20px;
  --ion-background-color:rgba(144, 12, 63, 0.001);   
}
.textstock {
  padding-top: 15px;
}
.btnTab {
  float: left;     
}
ion-title {
  padding-top: 10px;
}
.btnTabExit {
  float: right;     
}

